<template name='<%= template %>'>
  {{#autoForm id='edit<%= collection %>' type='method-update' meteormethod='update<%= collection %>' schema=Schemas.<%= collection %> doc=<%= resource %>}}
    {{#each afFieldNames}}
      {{> afQuickField name=this.name}}
    {{/each}}
    <div>
      <button type="submit">Submit</button>
    </div>
  {{/autoForm}}
</template>
